@import url(/src/css/fonts.scss);
@import url(/src/css/base.scss);

.container {
  width: 2000px;

  @media screen and (max-width: 1980px) {
    width: 1560px;
  }

  @media screen and (max-width: 1440px) {
    width: 1200px;
  }

  @media screen and (max-width: 570px) {
    width: 80%;
    padding-left: 0;
    padding-right: 0;
  }
}

.q-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    109deg,
    rgba(28, 37, 60, 1) 64%,
    rgba(67, 89, 115, 1) 77%,
    rgba(171, 212, 198, 1) 100%
  );

  @media screen and (max-width: 570px) {
    height: fit-content;
    background: rgb(28, 37, 60);
  }
}

.logo {
  max-height: 42px;

  @media screen and (max-width: 1920px) {
    max-height: 36px;
  }

  @media screen and (max-width: 570px) {
    max-height: 32px;
  }
}

h1,
h2 {
  font-family: "rfextUltrabold";
  color: $primary;
  font-size: 4rem;
  line-height: 110% !important;
  margin: 2rem 0 0 0;

  @media screen and (max-width: 1920px) {
    font-size: 3rem;
    margin: 1.6rem 0 0 0;
  }

  @media screen and (max-width: 1440px) {
    font-size: 2.4rem;
    margin: 1.6rem 0 0 0;
  }

  @media screen and (max-width: 570px) {
    font-size: 2.2rem;
  }
}

.offer {
  width: 60%;

  @media screen and (max-width: 570px) {
    width: 100%;
  }

  &_date {
    margin-top: 200px;
    gap: 2rem;

    @media screen and (max-width: 1920px) {
      margin-top: 160px;
      gap: 1.4rem;
    }

    @media screen and (max-width: 1440px) {
      margin-top: 120px;
      gap: 1.2rem;
    }

    @media screen and (max-width: 570px) {
      margin-top: 50px;
      gap: 1rem;
    }

    &__item {
      font-family: "rfSemibold";
      width: fit-content;
      border: 0.5px solid $primary;
      border-radius: 999px;
      color: $primary;
      font-size: 1rem;
      padding: 7px 22px;

      @media screen and (max-width: 1920px) {
        font-size: 0.9rem;
      }

      @media screen and (max-width: 570px) {
        font-size: 0.8rem;
        padding: 6px 20px;
      }
    }
  }

  &_caption {
    @media screen and (max-width: 570px) {
      margin-top: 3rem;
    }

    span {
      color: $accent;
    }
  }

  &_subtitle {
    font-family: "rfexpBold";
    color: $primary;
    font-size: 1.6rem;
    margin: 3rem 0 0 0;

    @media screen and (max-width: 1920px) {
      font-size: 1.2rem;
      margin: 1.6rem 0 0 0;
    }

    @media screen and (max-width: 1440px) {
      font-size: 1.1rem;
      margin: 1.6rem 0 0 0;
    }

    @media screen and (max-width: 570px) {
      font-size: 1rem;
      margin: 1rem 0 0 0;
    }
  }
}

.cta {
  gap: 1rem;

  &_button {
    border-radius: 999px;
    width: fit-content;
    padding: 1.8rem 4.4rem;
    font-size: 1.5rem;
    margin-top: 16rem;

    @media screen and (max-width: 1920px) {
      padding: 1.6rem 4rem;
      font-size: 1.2rem;
      margin-top: 12rem;
    }

    @media screen and (max-width: 1440px) {
      padding: 1.3rem 3.4rem;
      font-size: 1.1rem;
      margin-top: 10rem;
    }

    @media screen and (max-width: 570px) {
      padding: 20px 64px;
      font-size: 0.9rem;
      margin-top: 50px;
      width: 100%;
    }
  }

  &_button:hover {
    color: $dark !important;
    background-color: $primary !important;
    transition-duration: 500ms;
  }

  &_subtitle {
    gap: 1.2rem;
    color: $primary;
    font-family: "rfextRegular";
    font-size: 1rem;

    @media screen and (max-width: 1920px) {
      font-size: 0.9rem;
    }

    @media screen and (max-width: 570px) {
      font-size: 0.9rem;
    }
  }
}

.info {
  position: absolute;
  background: rgba(28, 37, 60, 0.5);
  box-shadow: 0px 0px 40px 2px rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(28, 37, 60, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 40px;
  right: 240px;
  bottom: 160px;
  max-width: 28%;
  padding: 30px 40px;
  gap: 2rem;

  @media screen and (max-width: 1920px) {
    border-radius: 30px;
    right: 160px;
    bottom: 70px;
    max-width: 28%;
    padding: 24px 36px;
    gap: 2rem;
  }

  @media screen and (max-width: 1440px) {
    border-radius: 30px;
    right: 110px;
    bottom: 50px;
    max-width: 30%;
    padding: 20px 32px;
    gap: 2rem;
  }

  &_icon {
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
    padding: 1rem 1rem;
    border-radius: 14px;

    @media screen and (max-width: 1920px) {
      padding: 0.8rem 0.8rem;
      border-radius: 12px;
    }
  }

  &_title {
    font-family: "rfexpUltrabold";
    font-size: 1.6rem;
    color: $primary;

    @media screen and (max-width: 1920px) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 1440px) {
      font-size: 1.2rem;
    }
  }

  &_subtitle {
    font-family: "rfextRegular";
    font-size: 1rem;
    color: $primary;

    @media screen and (max-width: 1920px) {
      font-size: 0.9rem;
    }

    @media screen and (max-width: 1440px) {
      font-size: 0.8rem;
    }
  }
}

.author {
  &_img {
    position: absolute;
    height: 1400px;
    right: 200px;
    bottom: -2vh;

    @media screen and (max-width: 1920px) {
      height: 1050px;
      right: 140px;
    }

    @media screen and (max-width: 1440px) {
      height: 840px;
      right: 90px;
    }
  }

  &_name {
    position: absolute;
    right: 220px;
    top: 120px;

    @media screen and (max-width: 1920px) {
      right: 140px;
      top: 100px;
    }

    @media screen and (max-width: 1440px) {
      right: 80px;
      top: 90px;
    }

    &__title {
      font-family: "rfextRegular";
      color: $primary;
      font-size: 2rem;

      @media screen and (max-width: 1920px) {
        font-size: 1.6rem;
      }

      @media screen and (max-width: 1440px) {
        font-size: 1.4rem;
      }
    }

    &__subtitle {
      font-family: "rfexpBold";
      color: #cccccc;
      font-size: 0.9rem;

      @media screen and (max-width: 1920px) {
        font-size: 0.8rem;
      }

      @media screen and (max-width: 1440px) {
        font-size: 0.7rem;
      }
    }
  }
}
