@import url(/src/css/fonts.scss);
@import url(/src/css/base.scss);

.main {
  overflow: hidden;
  background: linear-gradient(
    109deg,
    rgba(28, 37, 60, 1) 64%,
    rgba(67, 89, 115, 1) 77%,
    rgba(171, 212, 198, 1) 100%
  );

  @media screen and (max-width: 570px) {
    height: fit-content;
    background: rgb(28, 37, 60);
  }
}

h1,
h2 {
  font-family: "rfextUltrabold";
  color: $primary;
  font-size: 4rem;
  line-height: 110% !important;
  margin: 2rem 0 0 0;

  @media screen and (max-width: 1920px) {
    font-size: 3rem;
    margin: 1.6rem 0 0 0;
  }

  @media screen and (max-width: 1440px) {
    font-size: 2.4rem;
    margin: 1.6rem 0 0 0;
  }

  @media screen and (max-width: 1440px) {
    font-size: 2.2rem;
    margin: 1.4rem 0 0 0;
  }

  @media screen and (max-width: 570px) {
    font-size: 2.2rem;
  }
}

p {
  margin: 0;
}

.container {
  max-width: 1560px;
  min-height: 100vh;
  padding: 0 20px 20px;
  margin: 0 auto;
  background: url("../assets/images/yana.png") no-repeat bottom right -20%;
  background-size: 60% auto;

  @media screen and (max-width: 1920px) {
    background-position: bottom right 10%;
    background-size: 45% auto;
  }

  @media screen and (max-width: 1440px) {
    max-width: 1160px;
  }

  @media screen and (max-width: 570px) {
    padding: 0 10px;
  }
}

.logo {
  padding-top: 50px;
  margin-bottom: 70px;

  &__img {
    max-height: 42px;

    @media screen and (max-width: 1920px) {
      max-height: 36px;
    }

    @media screen and (max-width: 570px) {
      max-height: 32px;
    }
  }
}

.offer {
  margin-bottom: 160px;

  .offer-date {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 60px;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1920px) {
      gap: 1.4rem;
    }

    @media screen and (max-width: 1440px) {
      gap: 1.2rem;
    }

    @media screen and (max-width: 570px) {
      gap: 1rem;
    }

    &__item {
      font-family: "rfSemibold";
      width: fit-content;
      border: 0.5px solid $primary;
      border-radius: 999px;
      color: $primary;
      font-size: 1rem;
      padding: 7px 22px;

      @media screen and (max-width: 1920px) {
        font-size: 0.9rem;
      }

      @media screen and (max-width: 570px) {
        font-size: 0.8rem;
        padding: 6px 20px;
      }
    }

    &__author-name {
      margin-left: auto;

      .author-name {
        &__title {
          font-family: "rfextRegular";
          color: $primary;
          font-size: 2rem;

          @media screen and (max-width: 1920px) {
            font-size: 1.6rem;
          }

          @media screen and (max-width: 1440px) {
            font-size: 1.4rem;
          }

          @media screen and (max-width: 1370px) {
            font-size: 1.2rem;
          }
        }

        &__subtitle {
          font-family: "rfexpBold";
          color: #cccccc;
          font-size: 0.9rem;

          @media screen and (max-width: 1920px) {
            font-size: 0.8rem;
          }

          @media screen and (max-width: 1440px) {
            font-size: 0.7rem;
          }

          @media screen and (max-width: 1370px) {
            font-size: 0.6rem;
          }
        }
      }
    }
  }

  .offer-caption {
    width: 60%;
    @media screen and (max-width: 570px) {
      margin-top: 3rem;
      width: 100%;
    }

    span {
      color: $accent;
    }
  }

  .offer-subtitle {
    font-family: "rfexpBold";
    color: $primary;
    font-size: 1.6rem;
    margin: 3rem 0 0 0;

    @media screen and (max-width: 1920px) {
      font-size: 1.2rem;
      margin: 1.6rem 0 0 0;
    }

    @media screen and (max-width: 1440px) {
      font-size: 1.1rem;
      margin: 1.6rem 0 0 0;
    }

    @media screen and (max-width: 1370px) {
      font-size: 1rem;
      margin: 1.4rem 0 0 0;
    }

    @media screen and (max-width: 570px) {
      font-size: 1rem;
      margin: 1rem 0 0 0;
    }
  }
}

.bottom {
  display: flex;
  justify-content: space-between;

  .cta {
    &__button {
      border-radius: 999px;
      width: fit-content;
      padding: 1.8rem 4.4rem;
      font-size: 1.5rem;
      margin-bottom: 30px;

      @media screen and (max-width: 1920px) {
        padding: 1.6rem 4rem;
        font-size: 1.2rem;
      }

      @media screen and (max-width: 1440px) {
        padding: 1.3rem 3.4rem;
        font-size: 1.1rem;
      }

      @media screen and (max-width: 1370px) {
        padding: 1.3rem 3.2rem;
        font-size: 1rem;
      }

      @media screen and (max-width: 570px) {
        padding: 20px 64px;
        font-size: 0.9rem;
        margin-top: 50px;
        width: 100%;
      }

      &:hover {
        color: $dark !important;
        background-color: $primary !important;
        transition-duration: 500ms;
      }
    }

    &__subtitle {
      gap: 1.2rem;
      color: $primary;
      font-family: "rfextRegular";
      font-size: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      @media screen and (max-width: 1920px) {
        font-size: 0.9rem;
      }

      @media screen and (max-width: 1370px) {
        font-size: 0.8rem;
      }

      @media screen and (max-width: 570px) {
        font-size: 0.9rem;
      }
    }
  }

  .info {
    display: flex;
    max-width: 50%;
    background: rgba(28, 37, 60, 0.5);
    box-shadow: 0px 0px 40px 2px rgba(255, 255, 255, 0.1);
    border: 0.5px solid rgba(28, 37, 60, 0.5);
    backdrop-filter: blur(4px);
    border-radius: 40px;
    padding: 40px 40px;
    gap: 2rem;

    &__icon {
      width: fit-content;
      height: fit-content;
      padding: 1rem 1rem;
      border-radius: 14px;
      margin-top: 5px;

      @media screen and (max-width: 1920px) {
        padding: 0.8rem 0.8rem;
        border-radius: 12px;
      }
    }

    .info-description {
      &__title {
        font-family: "rfexpUltrabold";
        font-size: 1.6rem;
        color: $primary;
        margin-bottom: 30px;

        @media screen and (max-width: 1680px) {
          font-size: 1.4rem;
        }

        @media screen and (max-width: 1440px) {
          font-size: 1.2rem;
        }

        @media screen and (max-width: 1370px) {
          font-size: 1.1rem;
        }
      }

      &__subtitle {
        font-family: "rfextRegular";
        font-size: 1rem;
        color: $primary;

        @media screen and (max-width: 1440px) {
          //font-size: 0.8rem;
        }

        @media screen and (max-width: 1370px) {
          //font-size: 0.7rem;
        }
      }
    }
  }
}
