@font-face {
  font-family: "rfRegular";
  src: url("~assets/fonts/RFDewi-Regular.woff");
}

@font-face {
  font-family: "rfSemibold";
  src: url("~assets/fonts/RFDewi-Semibold.woff");
}

@font-face {
  font-family: "rfexpBold";
  src: url("~assets/fonts/RFDewiExpanded-Bold.woff");
}

@font-face {
  font-family: "rfexpUltrabold";
  src: url("~assets/fonts/RFDewiExpanded-Ultrabold.woff");
}

@font-face {
  font-family: "rfextRegular";
  src: url("~assets/fonts/RFDewiExtended-Regular.woff");
}

@font-face {
  font-family: "rfextUltrabold";
  src: url("~assets/fonts/RFDewiExtended-Ultrabold.woff");
}
